body {
  background: url("./IMG.png") center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: sans-serif;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);
  padding: 70px;
  border-radius: 15px;
  width: 500px;
  max-width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

input {
  height: 30px;
  width: 300px;
  padding: 8px;
  margin: 5px 0;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  width: 80px;
  height: 40px;
  padding: 8px;
  margin: 5px 0;
  background: rgba(0, 191, 255, 0.85);
  color: white;
  border: none;
  cursor: pointer;
}
#edit-btn {
  margin-right: 20px;
}

#list-container {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  max-width: 400px;
}
.clearAll {
  background-color: rgb(165, 34, 11);
}

p {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  white-space: nowrap;
}

/* ========== Responsive for Mobile ========== */

@media (max-width: 600px) {
  body {
    padding: 15px;
  }

  .box {
    width: 100%;
    max-width: 400px;
    padding: 25px 15px;
  }

  h1 {
    font-size: 28px;
    text-align: center;
  }

  .box div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  input {
    width: 300px;
  }

  button {
    width: 60%;
  }

  #list-container {
    width: 100%;
  }

  p {
    font-size: 16px;
    word-break: break-word;
  }

  .icons {
    display: flex;
    gap: 15px;
  }
}
